@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(1, 14, 53);
  color:white;
}

.img{
  border-radius: 260px;
}

@media (max-width: 450px) {
  .text-lg {
    font-size: 1.5rem; 
  }
}

@media (max-width: 706px ) and (min-width: 473px) {
  .text-lg {
    font-size: 2rem;
  }
}




